.site-wrapper,
.catalog{
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.main-header,
.container,
.main-footer,
.catalog {
  max-width: 1200px;
  margin: 0 auto;
}

.catalog {
  background: #849d8f;
}


.content-wrapper {
  max-width: 1146px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  line-height: 18px;
}

.main-header li,
.container li,
.main-footer li {
  list-style: none;
}

.site-navigation a,
.items a,
.footer-link a,
.main-footer p a,
.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.items a {
  font-size: 16px;
  line-height: 22px;
}

.items a:hover,
.items a:focus,
.footer-link a:hover,
.footer-link a:focus,
.main-footer p a:hover,
.main-footer p a:focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.pagination a:hover,
.pagination a:focus {
  color: #f6b5a5;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.site-navigation a:hover,
.site-navigation a:focus {
  border-bottom: none;
  background-color: #f8f7f4;
  color: #333333;
  padding: 9px 14px 11px;
  border-radius: 50px;
  box-sizing: border-box;
  margin-right: -14px;
}

.submenu a {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  border-bottom: none;
}

.submenu a:hover {
  background-color: #fbded7;
}

.submenu a:focus {
  background-color: #f6b5a5;
}

.user-navigation a,
.wrapper a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid rgba(178, 178, 178, 0.3);
}

.user-navigation a:hover,
.user-navigation a:focus,
.wrapper a:hover,
.wrapper a:focus {
  color: #e84d37;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.basket-link,
.work-time {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}


/* ************************* Slider ************************* */
.site-wrapper {
  background: #849d8f url("../img/slider-item1.png") no-repeat top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}


.slider {
  position: relative;
  padding-top: 303px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  margin: 0 auto 30px;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  margin-bottom: 25px;

  cursor: pointer;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background: #849d8f url("../img/slider-item1.png") no-repeat top center;
}

#product-2:checked ~ .site-wrapper {
  background: #8996a6 url("../img/slider-item2.png") no-repeat top center;
}

#product-3:checked ~ .site-wrapper {
  background: #9d8b84 url("../img/slider-item3.png") no-repeat top center;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/* ************************* Slider END ************************* */

.user-navigation input,
.subscribe-form input,
.feedback-form input {
  box-sizing: border-box;
  padding-left: 14px;
  display: inline-block;
  outline: none;
  width: 240px;
  height: 42px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation input[type="text"] {
  width: 310px;
}
.subscribe-form input {
  font-size: 16px;
  width: 370px;
}

.user-navigation input:hover,
.subscribe-form input:hover,
.feedback-form input:hover {
  border: 1px solid #c7c6c5;
  box-shadow:  0 0 0 1px #c7c6c5;
}

.user-navigation input:focus,
.subscribe-form input:focus,
.feedback-form input:focus {
  border: 1px solid #8fbdec;
  box-shadow:  0 0 0 1px #8fbdec;
}

.advertising h3 {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: 500;
}

.advertising p {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.about-us p {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 25px;
}

.about-us li {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  width: 477px;
  margin-bottom: 27px;
}

.wrapper h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.wrapper a {
  font-size: 24px;
  line-height: 30px;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.contacts
{
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.footer-link li {
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
}

.footer-link li:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.main-footer p {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.items img {
  border-radius: 50%;
}

.items p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.items span {
  font-size: 30px;
}

.footer-link {
  text-align: center;
}

.main-footer p {
  text-align: right;
}

.feedback-form h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.feedback-form input {
  font-size: 16px;
  width: 267px;
}

.current {
  background-color: #d07058;
  text-decoration: none;
}

.basket-link p {
  color: #323232;
}

.basket-link td {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}

.basket-link span {
  color: #999999;
}

.result {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.breadcrumbs {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.pagination a {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.pagination p {
  font-size: 16px;
  line-height: 18px;
}

.filter-form,
.filter-form .sort {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
}

.container-catalog h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/* Временно */
.submenu,
.search-form,
.login-form,
.login-form-link {
  display: none;
}

/* ----- Сеточные стили ----- */
.main-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 75px;
}

.main-navigation {
  display: flex;
}


.main-header-logo {
  margin-top: 10px;
}

.site-navigation {
  padding: 0;
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-top: 32px;
}

.user-navigation {
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.main-header span,
.contacts span {
  display: block;
}

.work-time {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 75px;
  right: 27px;
}



.button {
  border: none;
  color: #ffffff;
  border-radius: 50px;
  outline: none;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}



.advertising {
  padding: 0;
  display: flex;
  margin: 10px 0 0;
  justify-content: space-between;
}

.advertising h3,
.advertising p,
.advertising a {
  padding: 0;
  margin: 0;
}

.advertising li {
  width: 560px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 21px;
}

.advertising .button {
  width: 165px;
  text-align: center;
  padding: 15px 0 13px;
  align-self: flex-end;
  margin-bottom: 24px;
}

.advertising p {
  padding-top: 21px;
  margin-bottom: 44px;
}

.advertising li:first-child {
  background: #600114 url("../img/raspberry.jpg") no-repeat;
}

.advertising li:last-child {
  background: #000000 url("../img/chocolate.jpg") no-repeat;
}

.items li,
.items img,
.items p,
.items a {
  padding: 0;
  margin: 0;
}

.items {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 39px 0 0;
  text-align: center;
}

.items li {
  width: 267px;
}

.items p {
  margin-top: -60px;
  margin-bottom: 17px;
  text-align: left;
}

.about-us {
  background: #ede2ca url("../img/wafer.jpg");
  margin-top: 40px;
  border-radius: 15px;
  padding-left: 21px;
  padding-right: 34px;
  padding-top: 27px;
}

.about-us ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 0 50px;
}

.wrapper {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.wrapper article,
.subscribe {
  border-radius: 15px;
  width: 560px;
}

.wrapper a {
  border-bottom: 2px solid black;
}

.wrapper div {
  width: 280px;
  margin-bottom: 83px;
}

.wrapper article {
  box-sizing: border-box;
  padding-left: 21px;
  background: #ffffff url("../img/strawberry.jpg") no-repeat left;
}

.subscribe {
  background: #ffffff url("../img/bg-post.svg");
  background-size: cover;

}

.subscribe p {
  width: 506px;
  margin-left: 25px;
  margin-top: 27px;
  margin-bottom: 37px;
}

.subscribe input {
  margin-left: 25px;
  margin-right: 12px;
}

.subscribe .button {
  width: 128px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 24px;
}


.map {
  display: flex;
  flex-direction: column;
  background: #ffffff url("../img/map.jpg");
  align-items: flex-end;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-right: 27px;
}

.contacts {
  background-color: #ffffff;
  border-radius: 15px;
  width: 303px;
  padding-top: 32px;

}

.contacts p {
  margin: 0;
  width: 221px;
  padding-left: 27px;
}

.address span {
  margin-top: 9px;
  margin-bottom: 24px;
}

.contacts-phone span {
  margin-top: 10px;
  margin-bottom: 11px;
}

.contacts button {
  margin-top: 27px;
  margin-bottom: 29px;
  width: 252px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: 27px;
}

/* ----------------------- catalog.html ----------------------- */
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.basket-link p {
  display: block;
  padding: 0;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 98px 0 0;
  width: 220px;
}

.item-header {
  padding: 0;
  margin: 45px 0 29px;
}

.filter-form-top {
  display: flex;
}

.filter-form-sort {
  width: 193px;
  display: block;
}

.filter-form-price {
  display: block;
  width: 219px;
}

.filter-form-fat-content {
  width: 415px;
}

.filter-form-fillers {
  margin-top: 18px;
}

.filter-form-button {
  margin-left: 15px;
  width: 148px;
  background-color: rgba(255, 255, 255, 0.188);
  border: 2px solid rgb(255, 255, 255);;
  border-radius: 50px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 9px;
  color: #ffffff;
  font-size: 16px;
}

.catalog .items {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog .items li {
  margin-top: 40px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}



.catalog .main-header {
  display: flex;
  flex-direction: column;
}


.catalog .main-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3);;
  padding-top: 19px;
}


/* ************************** footer ************************** */

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.main-footer ul {
  padding: 0;
  margin: 0;
}

.social-button-svg {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.social-button-svg path{
  fill: rgba(230, 235, 233, 0.8)
}

.social-button-svg:hover g,
.social-button-svg:hover path,
.social-button-svg:hover  {
  fill: rgb(255, 255, 255);
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button-svg:active g,
.social-button-svg:active path,
.social-button-svg:active {
  fill: rgb(233, 233, 233);
  border: 3px solid rgba(233, 233, 233, 0.7);
}

.main-footer .footer-social {
  display: flex;
  width: 186px;
  justify-content: space-between;
  margin-top: 17px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
}

.main-footer ul {
  padding: 0 0 21px;
  margin: 17px 0 0;

}

.footer-link {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  flex-wrap: wrap;
}

.footer-link li {
  margin-right: 45px;
}

.footer-link li:nth-child(2) {
  margin-left: -15px;
}

.footer-link li:first-child {
  position: relative;
}

.footer-link li:first-child:before {
  position: absolute;
  content: url("../img/heart.svg");
  right: 117px;
  top: 3px;
}

.created p {
  margin-bottom: 25px;
  margin-top: 0;
}
/* ************************** end footer ************************** */















