body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  background-color: #849d8f;

  min-width: 1200px;
  min-height: 2416px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  line-height: 18px;
}

.main-header li,
.container li,
.footer li {
  list-style: none;
}

.site-navigation a,
.items a,
.footer-link a,
.main-footer p a,
.breadcrumbs a {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.items a {
  font-size: 16px;
  line-height: 22px;
}

.items a:hover,
.items a:focus,
.footer-link a:hover,
.footer-link a:focus,
.main-footer p a:hover,
.main-footer p a:focus,
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.pagination a:hover,
.pagination a:focus {
  color: #f6b5a5;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.site-navigation a:hover,
.site-navigation a:focus {
  border-bottom: none;
  background-color: #f8f7f4;
  color: #333333;
}

.submenu a {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  border-bottom: none;
}

.submenu a:hover {
  background-color: #fbded7;
}

.submenu a:focus {
  background-color: #f6b5a5;
}

.user-navigation a,
.wrapper a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid rgba(178, 178, 178, 0.3);
}

.user-navigation a:hover,
.user-navigation a:focus,
.wrapper a:hover,
.wrapper a:focus {
  color: #e84d37;
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.basket-link,
.work-time {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  font-weight: 400;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.slider h2 {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}

.user-navigation input,
.subscribe-form input,
.feedback-form input {
  box-sizing: border-box;
  padding-left: 14px;
  display: inline-block;
  outline: none;
  width: 240px;
  height: 42px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation input[type="text"] {
  width: 310px;
}
.subscribe-form input {
  font-size: 16px;
  width: 370px;
}

.user-navigation input:hover,
.subscribe-form input:hover,
.feedback-form input:hover {
  border: 1px solid #c7c6c5;
  box-shadow:  0 0 0 1px #c7c6c5;
}

.user-navigation input:focus,
.subscribe-form input:focus,
.feedback-form input:focus {
  border: 1px solid #8fbdec;
  box-shadow:  0 0 0 1px #8fbdec;
}

.advertising h3 {
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: 500;
}

.advertising p {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.about-us p {
  font-size: 24px;
  line-height: 30px;
}

.about-us li {
  font-size: 16px;
  line-height: 22px;
}

.wrapper h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.wrapper a {
  font-size: 24px;
  line-height: 30px;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.contacts
{
  font-size: 14px;
  line-height: 20px;
}

.contacts span {
  font-size: 18px;
  line-height: 24px;
}

.footer-link li {
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
}

.footer-link li:first-child {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.main-footer p {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.items img {
  border-radius: 50%;
}

.items p {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.items span {
  font-size: 30px;
}

.footer-link {
  text-align: center;
}

.main-footer p {
  text-align: right;
}

.feedback-form h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.feedback-form input {
  font-size: 16px;
  width: 267px;
}

.current {
  background-color: #d07058;
  text-decoration: none;
}

.basket-link p {
  color: #323232;
}

.basket-link td {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}

.basket-link span {
  color: #999999;
}

.result {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.breadcrumbs {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.pagination a {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.pagination p {
  font-size: 16px;
  line-height: 18px;
}

.filter-form,
.filter-form .sort {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
}

.container-catalog h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/*.button-enter {*/
/*padding-top: 15px;*/
/*padding-right: 25px;*/
/*padding-bottom: 15px;*/
/*padding-left: 25px;*/
/*background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);*/
/*box-shadow: 0 1px 2px 0 rgba(172, 16, 0, 0.004);*/
/*border-radius: 25px;*/
/*border: none;*/
/*color: white;*/
/*}*/

/* Временно */
.submenu,
.search-form,
.login-form,
.login-form-link {
  display: none;
}

/* ----- Сеточные стили ----- */


/* ----- header ----- */
.main-header {

  background-color: rgba(255, 255, 255, 0.4);

  display: flex;
  position: relative;
  justify-content: space-between;
}

.main-header p {
  position: absolute;
  top: 75px;
  right: 27px;
}

.main-header span {
  display: block;
}


.main-navigation {
  background-color: rgba(255, 255, 25, 0.4);
  display: flex;
}

.site-navigation {
  padding: 0;
  display: flex;
  margin-top: 32px;
  margin-left: 24px;
}

.site-navigation li {
  margin-right: 28px;
}

.user-navigation {
  background-color: rgba(255, 25, 25, 0.4);
  display: flex;
}



/* ----- header-end ----- */

.slider {
  display: flex;
}



